@media (min-width: 320px) {
  .logo {
    width: 15em;
}

.formulario_container{
   height: 30vh;
  width: 30vh;
}

.botao_esqueci_minha_senha{
  width: 150px;
}



a.botao_entrar_formulario{
  width: 150px;
  font-size: 0.8em;
}

a.botao_esqueci_minha_senha{
  font-size: 0.8em;
}

.titulo_formulario{
  text-align: center;
  padding: 1em;
  font-family: var(--fonte-principal);
  font-weight: 300;
  font-size: 1em;
}


}

@media (min-width: 430px) {
  
  .logo {
    width: 18em;
}

.formulario_container{
  
  width: 35vh;
}

.botao_esqueci_minha_senha{
  width: 250px;
}



.botao_entrar_formulario{
  width: 250px;
}

}

/* Celulares pequenos (até 576px) */
@media (min-width: 576px) {
   .logo{
    width: 20em;
}

.formulario_container{
  
  width: 45vh;
}

.botao_esqueci_minha_senha{
  width: 300px;
}



.botao_entrar_formulario{
  width: 300px;
}

}


@media (min-width: 768px) {
  .logo{
    width: 22em;
}

.formulario_container{
  
  width: 60vh;
}

}

@media (min-width: 992px) {
  .logo{
    width: 22em;
}

.formulario_container{
  
  width: 60vh;
}

.botao_esqueci_minha_senha{
  width: 150px;
}



a.botao_entrar_formulario{
  width: 300px;
  font-size: 1em;
}

a.botao_esqueci_minha_senha{
  width: 300px;
  font-size: 1em;
}

.titulo_formulario{
  text-align: center;
  padding: 1em;
  font-family: var(--fonte-principal);
  font-weight: 300;
  font-size: 1.5em;
}
}
